@{
    ViewData["Title"] = "Lista de Tareas";
    var tareas = ViewBag.Tareas as List<TP07_ROTH.Models.Tarea>;
}

<div class="container mt-4">
    <h2>Mis Tareas</h2>
    @if (tareas != null && tareas.Count > 0)
    {
        <section class="table table-bordered">
            <div>
                <ul>
                    <li>Título</li>
                    <li>Descripción</li>
                    <li>Fecha</li>
                    <li>Finalizada</li>
                    <li>Acciones</li>
                </ul>
            </div>
            <div>
                @foreach (var t in tareas)
                {
                    <div>
                        <td>@t.Titulo</td>
                        <td>@t.Descripcion</td>
                        <td>@t.Fecha.ToString("dd/MM/yyyy")</td>
                        <td>@(t.Finalizada ? "Sí" : "No")</td>
                        <td>
                            <a class="btn btn-secondary" href="@Url.Action("ModificarTarea", "Home")">Editar</a>
                            <a class="btn btn-secondary" href="@Url.Action("FinalizarTarea", "Home")">Finalizar</a>
                            <a class="btn btn-secondary" href="@Url.Action("EliminarTarea", "Home")">EliminarTarea</a>
                        </td>
                    </div>
                }
            </div>
        </section>
    }
    else
    {
        <p>No tienes tareas registradas.</p>
    }
</div>
